html,body {
    height: 100%; 
}

/* Adding Gutters to all Pure.css grids... */
.pure-g > div[class*="pure-u-"] {
    padding: 2em;
    box-sizing: border-box;
}

a {
    color: white;
}




/* side bar is 1/4 of the page */
#layout {
    height: 100%;
    overflow:hidden;
}
.left-bar {
    height: 100%;
    background-color: #313131;
    color: #ec625f;
    text-align: center;
}
.header {
    height: 25%;
}
h1 { 
    padding: 70px 20px 0px 20px;
    margin: 0px;
    font: 2.125em;
}
h2 {
    text-align: center;
    padding: 20px;
    margin: 0px;
}
.nav-menu {
    height: 70%;
    background-color: #313131;
    color: #ec625f;
}
.footer-bar {
    height: 5%;
}
.footer-bar p {
    padding: 20px 0;
    margin: 0;
}




/* main bar is 3/4 of the page */
h3 {
    text-align: center;
    padding: 10px;
    margin: 0px;
}
.content {
    height: 100%;
    background-color: #363636;
    color: #ec625f;
    position: relative;
}

.pure-u-1-2 {
    height: 100%;
    overflow: auto;
}

/* Overriding the above gutters for just the chart.js div */
.content > .pure-g > div[class*="pure-u-1-1"] {
    padding: 0em;
}
/* Overriding gutters for top_left and top_right titles */
.content > #content-top > .pure-g > div[class="pure-u-1-2 section-title"] {
    padding: 0em;
}

#content-top {
    height: 50%;
}

#content-bottom {
    height: 50%;
}

.pure-u-1-1 {
    height: 100%;
}

/* Top-section layout organization */
.top-half {
    height: 90%;
}
.top-half-title {
    height: 10%;
}

/* Add/Edit Forms */
#add-form {
    width: 100%;
}

/* PURE.CSS OVERRIDES */
/* zebra-stripes override color */
.pure-table-striped tr:nth-child(2n-1) td {
    background-color: #313131;
}
/* remove surrounding white border */
.pure-table {
    border: none;
}
/* remove inside cell vertical border */
.pure-table td, .pure-table th {
    border-left: none;
}
/* pure forms stretch to 60% of page and center */
.pure-control-group, .pure-controls {
    text-align: center;
}
.pure-control-group > textarea, input, select {
    text-align-last:center;
    resize: none;
    margin: auto;
    text-align: center;
    width: 75%;
}
.pure-form-aligned > .pure-controls { margin: 0; }
.pure-controls > button {
    margin: 0 auto;
    text-align: center;
    width: 75%;
}
/* center form vertically */
.pure-form-aligned {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
/* pure Submit Button coloring */
.pure-button-primary {
    background-color: #32cd32;
    color: #000000;
}
/* pure form recoloring */
.pure-control-group > textarea, input, select {
    background-color: #313131;
    color: white;
}
.pure-form select {
    background-color: #313131;
    color: white;
}
/* edit forms styling (targeting table elements mostly) */
.pure-form > .pure-table {
    margin: 0 auto;
    width: 100%;
}
.pure-form > .pure-table .pure-controls {
    margin: 0;
}
.pure-form > .pure-table thead, tbody {
    text-align: center;
}
th {
    text-align: center;
}
/* base_detail pure tables to span 100% of width */
.pure-table {
    width: 100%;
}