html,body {
    height: 100%; 
}

#layout {
    height: 100%;
    overflow:hidden;
}


/* side bar is 1/4 of the page */
.left-bar {
    height: 100%;
    background-color: #313131;
    color: #ec625f;
    text-align: center;
}

.header {
    height: 25%;
}

h1 { 
    padding: 70px 20px 0px 20px;
    margin: 0px;
    font: 2.125em;
}

h2 {
    padding: 20px;
    margin: 0px;
}

.nav-menu {
    height: 70%;
    background-color: #313131;
    color: #ec625f;
}

.footer-bar {
    height: 5%;
}

.footer-bar p {
    padding: 20px 0;
    margin: 0;
}


/* main bar is 3/4 of the page */
.content {
    height: 100%;
    background-color: #363636;
    color: #ec625f;
}

#content-parent {
    display: flex;
    flex-direction: column;
    height: 90%;
}

#content-top {
    display: flex;
    flex-direction: row;
    height: 30%;
}

#content-top-left {
    width: 50%;
}

#content-top-right {
    width: 50%;
}

#content-bottom {
    height: 70%;
}






#breadcrumb-container {
    background-color: #363636;
}

ul.breadcrumb {
    padding: 10px 5px;
    list-style: none;
    margin: 0;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #ec625f;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #ff0000;
    text-decoration: underline;
  }