html,body {
    height: 100%;
    overflow:hidden;
    font-family: Helvetica, Arial, Sans-Serif;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px;
    box-sizing: border-box;
    padding: 75px 0 50px 0
}

a {
    color: #ec625f;
}

p, ul, li {
    color: #f5eded;
}


#top-section{
    position: absolute;
    width: 100%;
    top: 0;
}
/*
These sections go in the top-section flex-box
#header-bar
*/
#header-bar {
    background-color: #313131;
    color: #ec625f;
    text-align: center;
    height: 75px;
    margin: 0;
}
h1 {
    margin: 0;
    padding: 20px;
}
#admin-login {
    position: absolute;
    top: 10px;
    right: 10px;
}
#user-login {
    position: absolute;
    top: 10px;
    right: 110px;
}
#user-logout {
    position: absolute;
    top: 10px;
    right: 110px;
}





#mid-section {
    display: flex;
    flex-direction: row;
    height: 100%;
}
/*
These sections go in the mid-section flex-box 
#side-nav-bar
#content
*/
#side-nav-bar {  
    background-color: #414141;
    color: #ec625f;
    float: left;
    width: 10%
}

#breadcrumb-container {
    background-color: #414141;
}

ul.breadcrumb {
    padding: 10px 5px;
    list-style: none;
    margin: 0;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #ec625f;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #ff0000;
    text-decoration: underline;
  }

#content {
    background-color: #525252;
    float: left;
    width: 90%;
}




#bottom-section {
    height: 50px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
/*
These sections go in the bottom-section flex-box
#footer-bar
*/
#footer-bar {
    background-color: #313131;
    color: #ec625f;
    text-align: center;
    padding: 1px;
}


#content-parent {
    display: flex;
    flex-direction: column;
    height: 90%;
}

#content-top {
    display: flex;
    flex-direction: row;
    height: 30%;
}

#content-top-left {
    width: 50%;
}

#content-top-right {
    width: 50%;
}

#content-bottom {
    height: 70%;
}