<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- pure.css -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">

    <!-- internal links -->
    <link rel="stylesheet" href="{% static 'tracker/style.css' %}">
    <script src="{% static 'tracker/scripts.js' %}"></script>
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div id="layout" class="pure-g">
        <div class="left-bar pure-u-1-4">
            <div class="header">
                <h1>{% block header %}{% endblock %}</h1>
                <h2 class="brand-tagline">{% block subheader %}{% endblock %}</h2>
            </div>
            <div class="pure-menu side-nav-menu nav-menu">
                {% block sidebar %}
                {% if request.user.is_authenticated == True %}
                <span class="pure-menu-heading">Main Menu</span>
                <ul class="pure-menu-list">
                    {% if request.path == '/tracker/dashboard/' %}
                    <li class="pure-menu-item pure-menu-disabled">Viewing Your Dashboard</li>
                    {% else %}
                    <li class="pure-menu-item">
                        <a href="{% url 'tracker:dashboard' %}" class="pure-menu-link">Return to Dashboard</a>
                    </li>
                    {% endif %}
                    <li class="pure-menu-item">
                        <a href="{% url 'tracker:goal add' %}" class="pure-menu-link">Add New Goal</a>
                    </li>
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a href="#" id="menuLink1" class="pure-menu-link">Profile</a>
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item pure-menu-disabled">
                                {{ user.first_name }} {{ user.last_name }}
                            </li>
                            <li class="pure-menu-item">
                                <a href="#" class="pure-menu-link">Settings</a>
                            </li>
                            {% if request.user.id == 1 %}
                            <li class="pure-menu-item">
                                <a href="http://localhost:8000/admin/" class="pure-menu-link">Admin</a>
                            </li>
                            {% endif %}
                            <li class="pure-menu-item">
                                <a href="{% url 'tracker:user logout' %}" class="pure-menu-link">Logout</a>
                            </li>
                        </ul>
                    </li>
                    {% if goal.id %}
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a href="#" id="menuLink1" class="pure-menu-link">Current Goal</a>
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item pure-menu-disabled">
                                {{ goal.description }}
                            </li>
                            {% if '/tracker/goal_detail/' not in request.path %}
                            <li class="pure-menu-item">
                                <a href="{% url 'tracker:goal detail' goal.id %}" class="pure-menu-link">Return to Goal</a>
                            </li>
                            {% endif %}
                            <li class="pure-menu-item">
                                <a href="{% url 'tracker:goal edit' goal.id %}" class="pure-menu-link">Edit Goal</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="{% url 'tracker:milestone add' goal.id %}" class="pure-menu-link">Add New Milestone</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="{% url 'tracker:reward add' goal.id %}" class="pure-menu-link">Add New Reward</a>
                            </li>                
                            <li class="pure-menu-item">
                                <a href="{% url 'tracker:session add' goal.id %}" class="pure-menu-link">Add New Session</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
                {% endblock %}
            </div>
            <div class="footer-bar">
                <p>Protracker designed by: Rob Calcote</p>
            </div>
        </div>
        <div class="content pure-u-3-4">  
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    


</body>
</html>