<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tracker/style.css' %}">
    <script src="{% static 'tracker/scripts.js' %}"></script>
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div id="top-section">
        <div id="header-bar">
            {% block header %}{% endblock %}
        </div>
        <button type="button" id="admin-login">Admin Login</button>
    </div>

    <div id="mid-section">
        <div id="side-nav-bar">
            {% block sidebar %}
            <ul>
                <li><a href="{% url 'tracker:dashboard' %}">Home</a></li><br>

                <li><a href="{% url 'tracker:goal add' %}">Add New Goal</a></li><br>
                
                {% if goal.id %}
                <li>{{ goal.description }}</li>
                <li><a href="{% url 'tracker:milestone add' goal.id %}">Add New Milestone</a></li>
                <li><a href="{% url 'tracker:reward add' goal.id %}">Add New Reward</a></li>
                <li><a href="{% url 'tracker:session add' goal.id %}">Add New Session</a></li>
                {% endif %}
            </ul>
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <div id="bottom-section">
        <div id="footer-bar">
            <p>© Rob Calcote (2020)</p>
        </div>
    </div>
</body>
</html>