{% extends "tracker/base.html" %}
{% load mathfilters %}

{% block header %}
{{ user.first_name }}'s Dashboard
{% endblock %}

{% block content %}

<style>
{% for goal in all_goals %}
.goal-id-{{ goal.id }} .circle_animation {
    -webkit-animation: goal-id-{{ goal.id }} 1s ease-out forwards;
    animation: goal-id-{{ goal.id }} 1s ease-out forwards;
}

@-webkit-keyframes goal-id-{{ goal.id }} {
  to {
    {% with slice=goal.percent_complete|mul:4.40 %}
        stroke-dashoffset: {{ slice|sub:440|abs }};
    {% endwith %}
  }
}
@keyframes goal-id-{{ goal.id }} {
  to {
    {% with slice=goal.percent_complete|mul:4.40 %}
        stroke-dashoffset: {{ slice|sub:440|abs }};
    {% endwith %}
  }
}
{% endfor %}
</style>

{% if all_goals %}
<div class="grid">
    {% for goal in all_goals %}
    <a class="cell" href="{% url 'tracker:goal detail' goal.id %}">
      <div class="circle-container">
        <h4>{{ goal.description }}</h4>
        <div class="item goal-id-{{ goal.id }}">
          <h4>{{ goal.percent_complete }}%</h4>
          <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
          <g>
          <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="15" stroke="#98fb98" fill="none"/>
          </g>
          </svg>
        </div>
      </div>
    </a>
    {% endfor %}
    {% if add == 2 %}
    <div class="cell inactive"></div>
    <div class="cell inactive"></div>
    {% elif add == 1 %}
    <div class="cell inactive"></div>
    {% endif %}
</div>
{% else %}
<div>get some goals button</div>
{% endif %}

{% endblock %}

{% comment %} 
FORMS IN THE FOLLOWING ORDER:
goal_add
{% endcomment %}

{% block goal_add_modal_form_title %}
Add a New Goal
{% endblock %}

{% block goal_add_modal_form %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div>
    <form action="{% url 'tracker:dashboard' %}" method="post" class="pure-form pure-form-aligned">
        {% csrf_token %}
            <div class="pure-control-group">
                {{ form_goal_add.description }}
            </div>
            <div class="pure-control-group">
                {{ form_goal_add.hours }}
            </div>
            <div class="pure-control-group">
                {{ form_goal_add.end_date }}
            </div>
            <div class="pure-controls">
                <button type="submit"  name="goal_add_submit" class="pure-button pure-button-primary">Submit</button>
            </div>
    </form>
</div>
{% endblock %}