{% extends "tracker/base.html" %}
{% load mathfilters %}

{% block header %}
{{ user.first_name }}'s Dashboard
{% endblock %}

{% block content %}

<style>
.item {
    position: relative;
    float: left;
}

.item h4 {
    text-align:center;
    position: absolute;
    line-height: 125px;
    width: 100%;
}

svg {
   -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.circle_animation {
  stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 440;
}

{% for goal in all_goals %}
.goal-id-{{ goal.id }} .circle_animation {
    -webkit-animation: goal-id-{{ goal.id }} 1s ease-out forwards;
    animation: goal-id-{{ goal.id }} 1s ease-out forwards;
}

@-webkit-keyframes goal-id-{{ goal.id }} {
  to {
    {% with slice=goal.percent_complete|mul:4.40 %}
        stroke-dashoffset: {{ slice|sub:440|abs }};
    {% endwith %}
  }
}
@keyframes goal-id-{{ goal.id }} {
  to {
    {% with slice=goal.percent_complete|mul:4.40 %}
        stroke-dashoffset: {{ slice|sub:440|abs }};
    {% endwith %}
  }
}
{% endfor %}
</style>

{% if all_goals %}
<div class="grid">
    {% for goal in all_goals %}
    <div class="cell">{{ goal.description }}
        <div class="item goal-id-{{ goal.id }}">
            <h4>{{ goal.percent_complete }}%</h4>
            <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
            <g>
            <circle class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="15" stroke="#32cd32" fill="none"/>
            </g>
            </svg>
        </div>
    </div>
    {% endfor %}
    {% if add == 2 %}
    <div class="cell"></div>
    <div class="cell"></div>
    {% elif add == 1 %}
    <div class="cell"></div>
    {% endif %}
</div>
{% else %}
<div>get some goals button</div>
{% endif %}



{% endblock %}