{% extends "tracker/base.html" %}

{% block header %}
{{ goal.description }}
{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb-container">
    <ul class="breadcrumb">
        <li><a href="{% url 'tracker:dashboard' %}">{{ user.first_name }}'s Dashboard</a></li>
        <li>{{ goal.description }}</li>
      </ul>
</div>
{% endblock %}

{% block content %}
{% load static %}
<script src="{% static 'node_modules/chart.js/dist/Chart.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>

<form action="{% url 'tracker:goal edit' goal.id %}">
    <input type="submit" value="Edit your Goal?" />
</form>
<div id="content-parent">
    <div id="content-top">
        <div id="content-top-left">
            <p>Total hours in Goal: {{ goal.hours }}</p>
            <p>Total hours remaining: {{ goal.hours_remaining }}</p>
            <p>Created Date: {{ goal.created_date }}</p>
            <p>Target End Date: {{ goal.end_date }}</p>
            <p>Goal Achieved Date: {{ goal.achieved_date }}</p>
        </div>
        <div id="content-top-right">
            <ul>
                {% for milestone in goal.milestone_set.all %}

                <li class="section-header">
                    <a href="{% url 'tracker:milestone detail' goal.id milestone.id %}">{{ milestone.description }}</a>
                </li>
                <li>Total hours included: {{ milestone.hours }}</li>
                <li>Total hours remaining: {{ milestone.hours_remaining }}</li>
                {% for reward in goal.reward_set.all %}
                {% if reward.milestone.id == milestone.id %}
                <li><a href="{% url 'tracker:reward detail' goal.id reward.id %}">Reward: {{ reward.description }}</a></li>
                {% endif %}
                </br>
                {% endfor %}{% endfor %}
            </ul>
        </div>
    </div>
    <div id="content-bottom">
        <canvas id="myChart"></canvas>
    </div>
</div>

<!-- Chart.js code -->
<script>
    var endpoint = '/tracker/api/graph/data/{{ goal.id }}'
    var labels = []
    var timeline = []
    var sessions_total = []
    var sessions = []


    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data){
            labels = data.labels
            timeline = data.timeline
            sessions_total = data.sessions_total
            sessions = data.sessions
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'goal timeline',
                        data: timeline,
                        pointRadius: 0
                    }, {
                        label: 'sessions individual',
                        backgroundColor: 'rgb(102, 178, 255)',
                        borderColor: 'rgb(102, 178, 255)',
                        data: sessions,
                        pointRadius: 5
                    }, {
                        label: 'sessions totalled',
                        //backgroundColor: 'rgb(0, 102, 204)',
                        borderColor: 'rgb(236, 98, 95)',
                        data: sessions_total,
                        pointRadius: 5
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    animation: {
                        duration: 1500
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    plugins: {
                        zoom: {
                            // Container for pan options
                            pan: {
                                // Boolean to enable panning
                                enabled: true,

                                // Panning directions. Remove the appropriate direction to disable
                                // Eg. 'y' would only allow panning in the y direction
                                // A function that is called as the user is panning and returns the
                                // available directions can also be used:
                                //   mode: function({ chart }) {
                                //     return 'xy';
                                //   },
                                mode: 'xy',

                                rangeMin: {
                                    // Format of min pan range depends on scale type
                                    x: null,
                                    y: 0
                                },
                                rangeMax: {
                                    // Format of max pan range depends on scale type
                                    x: null,
                                    y: null
                                },

                                // On category scale, factor of pan velocity
                                speed: 1,

                                // Minimal pan distance required before actually applying pan
                                threshold: 10,
                            },

                            // Container for zoom options
                            zoom: {
                                // Boolean to enable zooming
                                enabled: true,

                                // Drag-to-zoom effect can be customized
                                // drag: {
                                // 	 borderColor: 'rgba(225,225,225,0.3)'
                                // 	 borderWidth: 5,
                                // 	 backgroundColor: 'rgb(225,225,225)',
                                // 	 animationDuration: 0
                                // },

                                // Zooming directions. Remove the appropriate direction to disable
                                // Eg. 'y' would only allow zooming in the y direction
                                // A function that is called as the user is zooming and returns the
                                // available directions can also be used:
                                //   mode: function({ chart }) {
                                //     return 'xy';
                                //   },
                                mode: 'xy',

                                rangeMin: {
                                    // Format of min zoom range depends on scale type
                                    x: null,
                                    y: null
                                },
                                rangeMax: {
                                    // Format of max zoom range depends on scale type
                                    x: null,
                                    y: null
                                },

                                // Speed of zoom via mouse wheel
                                // (percentage of zoom on a wheel event)
                                speed: .1,

                                // Minimal zoom distance required before actually applying zoom
                                threshold: 2,

                                // On category scale, minimal zoom level before actually applying zoom
                                sensitivity: 3,
                            }
                        }
                    }
                }
            });
        }
    });
    </script>


{% endblock %}