{% extends "tracker/base.html" %}

{% block header %}
Add new Goal
{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'tracker:goal add' %}" method="post" class="pure-form pure-form-aligned">
    {% csrf_token %}
        <div class="pure-control-group">
            {{ form.description }}
        </div>
        <div class="pure-control-group">
            {{ form.hours }}
        </div>
        <div class="pure-control-group">
            {{ form.end_date }}
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
</form>

{% endblock %}