{% extends "tracker/base.html" %}

{% block header %}
<h1>{{ goal.description }}</h1>
{% endblock %}

{% block content %}



<form action="{% url 'tracker:goal edit' goal.id %}">
    <input type="submit" value="Edit your Goal?" />
</form>

<p>Total hours in Goal: {{ goal.hours }}</p>
<p>Total hours remaining: {{ goal.hours_remaining }}</p>
<p>Created Date: {{ goal.created_date }}</p>
<p>Target End Date: {{ goal.end_date }}</p>
<p>Goal Achieved Date: {{ goal.achieved_date }}</p>
</br>
<ul>
    {% for milestone in goal.milestone_set.all %}

    <li class="section-header">
        <a href="{% url 'tracker:milestone detail' goal.id milestone.id %}">Milestone #{{ milestone.id }}</a>
    </li>
    <li>Total hours included: {{ milestone.hours }}</li>
    <li>Total hours remaining: {{ milestone.hours_remaining }}</li>
    </br>
    {% endfor %}
</ul>

<ul>
    {% for reward in goal.reward_set.all %}
    <li class="section-header">
        <a href="{% url 'tracker:reward detail' goal.id reward.id %}">Reward #{{ reward.id }}</a>
    </li>
    <li>Description: {{ reward.description }}</li>
    <br>
    {% endfor %}
</ul>

<ul>
    {% for session in goal.session_set.all %}
    <li class="section-header">
        <a href="{% url 'tracker:session detail' goal.id session.id %}">Session #{{ session.id }}</a>
    </li>
    <li>Date: {{ session.date }}</li>
    <li>Hours: {{ session.hour_count }}</li>
    <li>Difficulty: {{ session.get_difficulty_display }}</li>
    <br>
    {% endfor %}
</ul>



{% endblock %}