{% extends "tracker/base.html" %}

{% block header %}
<h1>{{ milestone.hours }}</h1>
{% endblock %}

{% block content %}



<p>Total hours remaining: {{milestone.hours_remaining}}</p>
</br>
<ul>
    {% for reward in milestone.reward_set.all %}
    <li class="section-header">Reward #{{ reward.id }}</li>
    <li>Description: {{ reward.description }}</li>
    </br>
    {% endfor %}
</ul>

<ul>
    {% for session in milestone.session_set.all %}
    <li class="section-header">Session #{{ session.id }}</li>
    <li>Date: {{ session.date }}</li>
    <li>Hours: {{ session.hour_count }}</li>
    <li>Difficulty: {{ session.difficulty }}</li>
    <br>
    {% endfor %}
</ul>



{% endblock %}