{% extends "tracker/base.html" %}

{% block header %}
    Milestone
{% endblock %}
{% block subheader %}
    {{ milestone.description }}
{% endblock %}


{% block breadcrumb %}
<div id="breadcrumb-container">
    <ul class="breadcrumb">
        <li><a href="{% url 'tracker:dashboard' %}">{{ user.first_name }}'s Dashboard</a></li>
        <li><a href="{% url 'tracker:goal detail' goal.id %}">{{ goal.description }}</a></li>
        <li>{{ milestone.description }}</li>
      </ul>
</div>
{% endblock %}

{% block content %}
<form action="{% url 'tracker:milestone edit' goal.id milestone.id %}">
    <input type="submit" value="Edit your Milestone?" />
</form>

<p>Milestone Description: {{ milestone.description }}</p>
<p>Total Milestone Hours: {{ milestone.hours }}</p>
<p>Hours remaining: {{ milestone.hours_remaining }}</p>
<p>Target End Date: {{ milestone.end_date }}</p>
</br>
<ul>
    {% for reward in milestone.reward_set.all %}
    <li class="section-header">
        <a href="{% url 'tracker:reward detail' goal.id reward.id %}">Reward #{{ reward.id }}</a>
    </li>
    <li>Description: {{ reward.description }}</li>
    </br>
    {% endfor %}
</ul>

<ul>
    {% for session in milestone.session_set.all %}
    <li class="section-header">
        <a href="{% url 'tracker:session detail' goal.id session.id %}">Session #{{ session.id }}</a>
    </li>
    <li>Date: {{ session.date }}</li>
    <li>Hours: {{ session.hour_count }}</li>
    <li>Difficulty: {{ session.difficulty }}</li>
    <br>
    {% endfor %}
</ul>



{% endblock %}