{% extends "tracker/base.html" %}

{% block header %}
Reward: {{ reward.description }}
{% endblock %}


{% block breadcrumb %}
<div id="breadcrumb-container">
    <ul class="breadcrumb">
        <li><a href="{% url 'tracker:dashboard' %}">{{ user.first_name }}'s Dashboard</a></li>
        <li><a href="{% url 'tracker:goal detail' goal.id %}">{{ goal.description }}</a></li>
        <li><a href="{% url 'tracker:milestone detail' goal.id milestone.id %}">{{ milestone.description }}</a></li>
        <li>{{ reward.description }}</li>
      </ul>
</div>
{% endblock %}

{% block content %}
<form action="{% url 'tracker:reward edit' goal.id reward.id %}">
    <input type="submit" value="Edit your Reward?" />
</form>

<img src="/protracker/media/uploaded/Chicken-Tikka-Masala-square-FS-51.jpg" >

<p>Total Goal hours remaining: {{goal.hours_remaining}}</p>
</br>
<p>Total Milestone hours remaining: {{milestone.hours_remaining}}</p>
</br>

<ul>
    {% for session in milestone.session_set.all %}
    <li class="section-header">Session #{{ session.id }}</li>
    <li>Date: {{ session.date }}</li>
    <li>Hours: {{ session.hour_count }}</li>
    <li>Difficulty: {{ session.difficulty }}</li>
    <br>
    {% endfor %}
</ul>



{% endblock %}