{% extends "tracker/base.html" %}

{% block header %}
    Add new Reward
{% endblock %}
{% block subheader %}
    Parent Goal: {{ goal.description }}
{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'tracker:reward add' goal.id %}" method="post" class="pure-form pure-form-aligned">
    {% csrf_token %}
        <div class="pure-control-group">
            {{ form.description }}
        </div>
        <div class="pure-control-group">
            <select name="milestone" required id="id_milestone">
                    <option value="">Select Milestone</option>
                {% for milestone in goal.milestone_set.all %}
                    <option value="{{ milestone.id }}">{{ milestone.description }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="pure-control-group">
            {{ form.end_date }}
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
</form>

{% endblock %}