{% extends "tracker/base.html" %}

{% block header %}
    Edit Reward: 
{% endblock %}
{% block subheader %}
    {{ reward.description }}
{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'tracker:reward edit' goal.id reward.id %}" method="post" class="pure-form pure-form-aligned">
    {% csrf_token %}

    <table class="pure-table">
        <thead>
            <tr>
                <th></th>
                <th>Original Value</th>
                <th>New Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <label for="id_description">Reward Description:</label>
                </th>
                <td>{{ reward.description }}</td>
                <td>
                    <div class="pure-control-group">
                        <textarea name="description" cols="40" rows="10" required="" id="id_description">{{ reward.description }}</textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_end_date">Milestone:</label>
                </th>
                <td>{{ reward.milestone.description }}</td>
                <td>
                    <div class="pure-control-group">
                        <select name="milestone" required id=id_milestone value="{{ reward.milestone.id }}">
                            {% for milestone in goal.milestone_set.all %}
                                <option value="{{ milestone.id }}">{{ milestone.description }}</option>
                            {% endfor %}
                        </select>     
                    </div>
                </td>
            </tr>
            <tr>
                <td></td><td></td><td>
                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Submit</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>

{% endblock %}