{% extends "tracker/base.html" %}

{% block header %}
    Reward
{% endblock %}
{% block subheader %}
    {{ reward.description }}
{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb-container">
    <ul class="breadcrumb">
        <li><a href="{% url 'tracker:dashboard' %}">{{ user.first_name }}'s Dashboard</a></li>
        <li><a href="{% url 'tracker:goal detail' goal.id %}">{{ goal.description }}</a></li>
        <li><a href="{% url 'tracker:milestone detail' goal.id milestone.id %}">{{ milestone.description }}</a></li>
        <li>{{ reward.description }}</li>
      </ul>
</div>
{% endblock %}

{% block edit_modal_title %}
Edit Reward: {{ reward.description }}
{% endblock %}

{% block edit_modal %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div>
    <form action="{% url 'tracker:reward detail' goal.id reward.id %}" method="post" class="pure-form pure-form-aligned">
        {% csrf_token %}
    
        <table class="pure-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Original Value</th>
                    <th>New Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        <label for="id_description">Reward Description:</label>
                    </th>
                    <td>{{ reward.description }}</td>
                    <td>
                        <div class="pure-control-group">
                            <textarea name="description" cols="40" rows="10" required="" id="id_description">{{ reward.description }}</textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="id_end_date">Milestone:</label>
                    </th>
                    <td>{{ reward.milestone.description }}</td>
                    <td>
                        <div class="pure-control-group">
                            <select name="milestone" required id=id_milestone value="{{ reward.milestone.id }}">
                                {% for milestone in goal.milestone_set.all %}
                                    <option value="{{ milestone.id }}">{{ milestone.description }}</option>
                                {% endfor %}
                            </select>     
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td><td></td><td>
                        <div class="pure-controls">
                            <button type="submit" class="pure-button pure-button-primary">Submit</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
{% endblock %}

{% block content %}
<img src="/protracker/media/uploaded/Chicken-Tikka-Masala-square-FS-51.jpg" >

<p>Total Goal hours remaining: {{goal.hours_remaining}}</p>
</br>
<p>Total Milestone hours remaining: {{milestone.hours_remaining}}</p>
</br>

<ul>
    {% for session in milestone.session_set.all %}
    <li class="section-header">Session #{{ session.id }}</li>
    <li>Date: {{ session.date }}</li>
    <li>Hours: {{ session.hour_count }}</li>
    <li>Difficulty: {{ session.difficulty }}</li>
    <br>
    {% endfor %}
</ul>



{% endblock %}